@page
@model TICKETMANAGEMENT.Pages.LoginModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
    <title>LOGIN</title>
</head>
<body>
    <section class="container">
        <div class="login-container">
          
            <div class="form-container">
                <h1 class="opacity">LOGIN</h1>
                <form>
                    <input type="text" placeholder="USERNAME" />
                    <input type="password" placeholder="PASSWORD" />
                    <button class="opacity">SUBMIT</button>
                </form>
                <div class="register-forget opacity">
                    <a href="signup.html">SIGN UP</a>
                    <a href="">FORGOT PASSWORD</a>
                </div>
            </div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>